body {
  background-color: #aed7ee;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Fredoka One', sans-serif; /* Use the Google Fonts font */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Set the viewport height to ensure content takes the full screen */
}